
@{
    ViewBag.Title = "hakkimizda";
    Layout = "~/Views/Shared/_anaLayout.cshtml";
}
<section id="newsSection">
    <div class="container-fluid" style="background-color:#ffffff">
        <img class="resimBoyut" src="~/img/ofis.jpg" width="100%" height="100%" />
        <br />
        <div class="hakkimizdaYazi">
            <p>
                <i>
                    &emsp; &emsp;İnternetten alışverişin güvenilir ismi Kitapshop 2017 yılından bu yana, 11 milyondan fazla kullanıcının alışveriş için buluştuğu güvenilir bir e-pazaryeri platformudur. İnternetten güvenli alışverişi Türkiye’ye sevdirerek, yenilikçi yaklaşımı ve teknolojik üstünlüğüyle sektöre e-ticaretin ev sahibi olarak öncülük etmektedir. Türkiye’deki güçlü konumu ile dünyanın en büyük pazar yeri olma yolunca ilerliyoruz.

                    Milyonlarca kitabın yer aldığı<br /> Kitapshop, unutulmaz bir alışveriş deneyimi sunuyor.Günden güne yükselen mobil trafiği ve alışveriş hacmiyle dilediğiniz her yerden ürün alabileceğiniz bu platform, aylık yaklaşık 40 milyon ziyaretçisiyle e-ticaretin en çok tercih edilen alışveriş sitesi olmaya devam edecektir.

                </i>
            </p>
        </div>
        <hr />
        <div class="hakkimizdaYazi">
            <h4>ISTATISTIKLERLE KITAPSHOP</h4>
        </div><hr />
        <div class="row asagiBosluk">
            <div class="col-md-3 col-sm-12">
                <img src="~/img/vesika.jpg" height="100%" width="100%" />
            </div>
            <div class="col-md-3 col-sm-12">
                <img src="~/img/vesika.jpg" height="100%" width="100%" />

            </div>
            <div class="col-md-3 col-sm-12">
                <img src="~/img/vesika.jpg" height="100%" width="100%" />
            </div>
            <div class="col-md-3 col-sm-12">
                <img src="~/img/vesika.jpg" height="100%" width="100%" />
            </div>
        </div>
    </div>
    </section>